<h4>Contents</h4>
<div class="row">
    <div class="col-xl-4 col-md-8">
        <sb-card-view-details link="/content-menu" background="bg-dark"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Menu</div>
                    <div class="col-5 text-right"><h3>{{ activeMenuContent }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Menu</div>
                    <div class="col-5 text-right"><h3>{{ totalMenuContent }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
    <div class="col-xl-4 col-md-8">
        <sb-card-view-details link="/content-promo" background="bg-dark"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Promo</div>
                    <div class="col-5 text-right"><h3>{{ activePromoContent }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Promo</div>
                    <div class="col-5 text-right"><h3>{{ totalPromoContent }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
    <div class="col-xl-4 col-md-8">
        <sb-card-view-details link="/content-video" background="bg-dark"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Video</div>
                    <div class="col-5 text-right"><h3>{{ activeVideoContent }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Video</div>
                    <div class="col-5 text-right"><h3>{{ totalVideoContent }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
</div>
<h4>Master Data</h4>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/devices" background="bg-primary"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Device</div>
                    <div class="col-5 text-right"><h3>{{ activeDevice }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Device</div>
                    <div class="col-5 text-right"><h3>{{ totalDevice }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/outlets" background="bg-warning"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Outlet</div>
                    <div class="col-5 text-right"><h3>{{ activeOutlet }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Outlet</div>
                    <div class="col-5 text-right"><h3>{{ totalOutlet }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/media/pictures" background="bg-success"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Picture</div>
                    <div class="col-5 text-right"><h3>{{ activePicture }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Picture</div>
                    <div class="col-5 text-right"><h3>{{ totalPicture }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/media/videos" background="bg-danger"
            ><div class="card-body">
                <div class="div row">
                    <div class="col-7">Active Video</div>
                    <div class="col-5 text-right"><h3>{{ activeVideo }}</h3></div>
                </div>
                <div class="div row">
                    <div class="col-7">Total Video</div>
                    <div class="col-5 text-right"><h3>{{ totalVideo }}</h3></div>
                </div>
            </div></sb-card-view-details
        >
    </div>
</div>
