<form>
    <div class="form-group form-inline">Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="videoService.searchTerm" /><span class="ml-3" *ngIf="videoService.loading$ | async">Loading...</span></div>
    <div class="container">
        <div class="row text-center text-lg-start">
            <div class="col-lg-3 col-md-4 mb-4 col-6" *ngFor="let video of video_list$ | async" (mouseenter)="isDisplayOption[video.id]=true" (mouseleave)="isDisplayOption[video.id]=false">
                <video *ngIf="isDisplayOption[video.id]" src="{{ apiUrl }}media/download/{{ video.fileName }}" height="160" width="240" controls autoplay muted></video><video *ngIf="!isDisplayOption[video.id]" src="{{ apiUrl }}media/download/{{ video.fileName }}" height="160" width="240"></video>
                <div class="text-center py-2" style="height: 64px">{{ video.displayName }} <fa-icon class="mx-2" *ngIf="isDisplayOption[video.id]" [icon]='["fas", "eye"]' (click)="preview(video)"></fa-icon><fa-icon class="mx-2" *ngIf="isDisplayOption[video.id]" [icon]='["fas", "edit"]' (click)="edit(video)"></fa-icon><fa-icon class="mx-2" *ngIf="isDisplayOption[video.id]" [icon]='["fas", "trash"]' (click)="delete(video)"></fa-icon></div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="videoService.page" [pageSize]="videoService.pageSize"></ngb-pagination
        ><select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="videoService.pageSize">
            <option [ngValue]="8">8 items per page</option>
            <option [ngValue]="16">16 items per page</option>
            <option [ngValue]="32">32 items per page</option>
        </select>
    </div>
</form>
