#layoutAuthentication(style="background: url(assets/img/welcome.jpg); background-size: 100% 100%;")
    #layoutAuthentication_content
        main
            ng-content
    #layoutAuthentication_footer
        sb-footer